.logo {
    margin: 0 auto;
}

.subtitle-signup {
    text-align: center;
    margin: 10px 0 !important;
}

.signup-area {
    margin-top: 20%;
}

.btn-submit-signup {
    margin: 10px 0 20px 0 !important;
}
